* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        box-sizing: border-box;
    }
.navbar{
	width: 100%;
	height: 70px;
	line-height: 70px;
	display: inline-grid;
	grid-template-columns: 60px 100px 200px 200px;
	justify-content: space-around;
	background-color: #1d1e18;
	margin: 0px;
	padding: 0px;
	position: fixed;
	z-index: 10000;
}
.navbar a{
	text-decoration: none;
	color: #f2f5ea;
	font-family: 'Jost', sans-serif;
}
#logo{
	margin-top: 10px;
	height: 45px;
}
#RF{
	font-weight: bold;
	font-size: 20px;
	color: #FFCA55;
	font-family: 'Jost', sans-serif;
}
.header{

	width: 100%;
	height: 820px;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('bg.jpg');
	background-size: cover;
	background-position: left top;
	background-attachment: fixed;
	padding-top: 250px;
	padding-left: 100px;
}
.header h3{
	color: #B1DAF2;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	width: 700px;
}
.header h1{
	margin-top: 10px;
	color: white;
	width: 800px;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}
.header h2{
	margin-top:10px;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	width: 560px;
}
.header h2 span{
	color: #B1DAF2;
}
.header h4{
	border: 1px solid white;
	margin-top: 30px;
	color: white;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	width: 230px;
	text-align: center; 	
	border-radius: 30px;
	padding: 10px;
	font-weight: 3;
}
.header h4 span{
	
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	width: 560px;

}
.steps{
	
	
	display: inline-grid;
	grid-template-columns: 40% 30% 30%;
	justify-content: space-between;
	text-align: center;
	
	padding-top: 200px;
	color:  white;	;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	
}
.description_first{
	width: 100%;
	height: 660px;
	z-index: 101;
}
.description_first h1{
	
	padding: 100px;
	text-align: center;
	font-family: 'Jost', sans-serif;
	font-size: 28px;
}
.description_grid{
	width: 100%;
	height: 400px;
	display: grid;
	grid-template-columns: 30% 30%;
	grid-gap: 40px;
	text-align: left;
	justify-content:center;	

}
.grid_heading{
	font-family: 'Jost', sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 8px;
}
.grid_text{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-align: justify;
}	
.description_second{
	margin-top: 20px;
	background-color:#1d1e18;
	color: #f2f5ea;
display:inline-grid;
grid-template-columns: 60% 40%;
	z-index: 100;
	height: 550px;
	
}
.description_second_grid_text{
background-color:#1d1e18;
	color: #f2f5ea;
margin-top: 100px;
margin-left: 100px;
margin-right: 30px;}
.description_second_header{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #B1DAF2;
}
.description_second_text{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: justify;
}
.description_second_grid_image{
	overflow: hidden;
}
#arms{
	height: 700px;
	margin-left: 75px;


	
}
.categories{
	margin-top: 100px;
	display: grid;
	grid-template-columns: 30% 30%;
	grid-column-gap: 40px;
	justify-content:center;

}
div ul{
	margin-top: 30px;
}
.categories_heading{
	font-size: 22px;
	font-family: 'Jost', sans-serif;
	font-weight: bold; 	
}
.categories li{
	margin-top: 6px;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}
.categories_first{
border: 1px solid black;
border-radius: 15px;
}
.categories_second{
	border: 1px solid black;
border-radius: 15px;
}